.mountEnter {
  opacity: 0;
}

.mountEnterActive {
  opacity: 1;
  transition: opacity 500ms ease;
}

.mountExit {
  opacity: 1;
}

.mountExitActive {
  opacity: 0;
  transition: opacity 500ms ease;
}

@media screen and (max-width: 415px) {
  html {
    font-size: 50%;
  }
}
