@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&family=Roboto+Slab:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  color: #d7e0ff;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-weight: bold;
  line-height: 1.2;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.2;
}

h3 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 15px;
  text-transform: uppercase;
}

h4 {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
}

/* 425px and above */
@media screen and (min-width: 26.5em) {
  h1 {
    font-size: 2.4rem;
  }
}
